[
 {emodbus, [
    {server, enable},
    {listeners, [
        {modbus, 5502, [
            %% Size of acceptor pool
            {acceptors, 2},
            %% Maximum number of concurrent clients
            {max_clients, 128},
            %% Socket Access Control
            {access, [{allow, all}]},
            %% Socket Options
            {sockopts, [
                {backlog, 128}
                %Set buffer if hight thoughtput
                %{recbuf, 4096},
                %{sndbuf, 4096}
                %{buffer, 4096},
            ]}
        ]}
    ]}
 ]}
].
