[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {emodbus, [
         {server, [
             {handler, emodbus_demo_handler},
             {listener, {5502, [
                    %% Size of acceptor pool
                    {acceptors, 2},
                    %% Maximum number of concurrent clients
                    {max_clients, 128},
                    %% Socket Access Control
                    {access, [{allow, all}]},
                    %% Socket Options
                    {sockopts, [
                        {backlog, 128}
                        %Set buffer if hight thoughtput
                        %{recbuf, 4096},
                        %{sndbuf, 4096}
                        %{buffer, 4096},
                    ]}
                ]}}]}
        ]}
].
